.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
// Button
.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}
.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color .5s;

    &:hover, &:focus{
        background-color: var(--secondary-font-color);
    }
}
.body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: var(--secondary-font-color);
        transition: background-color .5s;
    }
    &:hover, &:focus{
        color: var (--main-font-color-dark);
    }
    &:hover::before,
    &:focus::before{
        background-color: var(--main-font-color-dark);
    }
}

section{
    padding: 3.9rem 0;
}
img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}
@media screen and (min-width: 900px){
    section{
        padding: 7.9rem;
        // overflow: hidden;
    }
    .active{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            left: 0;
            bottom: -3px;
        }
       
    }
}