footer{
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}
.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;

    & i{
        display: block;
        color: #fff;
        font-size: 2rem;
        padding: 2rem;
        animation: up 2s infinite;
    }
}
.footer-content{
    overflow: hidden;

    & h4{
        font-size: 1.9rem;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 3px;
        margin-bottom: 3rem;
    }

    & .asterisk{
        margin: 2.4rem 0;
    }

    &-about{
        margin-bottom: 5.4rem;

        & p{
            line-height: 2;
        }
    }
}
.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;

    & i{
        font-size: 2rem;
        color: #fff;
        padding: .8rem 2rem;
        opacity: .5;
        transition: color .5s;

        &:hover, &:focus{
            color: var(--secondary-font-color);
        }
    }
}
.newsletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.newsletter-input{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}
.newsletter-btn{
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20.5rem;
}

@media screen and (min-width: 900px){
    .footer-content{
        max-width: 77.5rem;
        margin: auto;

        &-about{
            max-width: 51.3rem;
            margin: 0 auto 5.4rem;
        }
        &-divider{
            display: flex;
            justify-content: space-between;
        }
    }
    .social-media,
    .newsletter-form{
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }
    .social-icons i{
        opacity: 1;
    }
    .newsletter-btn{
        margin-left: 15rem;
    }

}















