header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.home{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-list{
        list-style: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        background-color: var(--main-font-color-dark);
        padding: 4.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1250;
        transform: translateX(-100%);
        transition: transform .5s;
    }

    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        opacity: 0;
        transform: scale(0);
        transition: opacity .5s;
    }

    &-link{
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 2px;
        margin-right: -2px;
        transition: color .5s;

        &:hover{
            color: var(--secondary-font-color);
        }
    }

    &-item{
        border-bottom: 2px solid rgba(225, 225, 225, 0.3);
    }
}
.menu-toggle{
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}
.toggle{
    color: #fff; 
}
.fa-times{
    display: none;
}

.open .fa-times{
    display: block;
}
.open .fa-bars{
    display: none;
}
.open .nav-list{
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}


@media screen and (min-width: 900px){
    .menu-toggle{
        display: none;
    }
    .nav{
        justify-content: space-between;

        &-list{
            position: initial;
            width: initial;
            height: initial;
            background-color: transparent;
            padding: 0;
            justify-content: initial;
            flex-direction: row;
            transform: initial;
            transition: initial;
        }
        &-item{
            margin: 0 2.4rem;
            border: none;

            &:last-child{
                margin-right: 0;
            }
        }
        &-link{
            font-size: 1.3rem;
        }
    }
}